@media only screen and (min-width: 20em) and (max-width:21.99em)
{
	.coloring {
		color: red;
	}
}

@media only screen and (min-width: 22em) and (max-width:22.99em)
{
	.coloring {
		color: purple;
	}
}

@media only screen and (min-width: 23em) and (max-width:24.99em)
{
	.coloring {
		color: white;
	}
}